extends partials/layout.jade

block content
  h2(class="content-title content-title-about") About Us
  h3(class="section-title") About
  p Rovers are 18 - 25 years old!

  p Black Flats Rover Crew is the Rover Scout section at 2nd Glen Waverley Scout Group.
  p For more details on 2nd Glen Waverley, click here.

  p The Rover section is compromised of young adults who are usually looking to get involved in the outdoors, making friends for life as well as service to the community and Scouting. The motto of Rover Scouts is simply 'Service'.

  p Rovers is about helping otheres, the outdoors, challenge and friends for life. Black Flats Rover Crew have a diverse program to cater to the needs of all our members.

  p Every 3 years a national "moot" is held with Rovers from all around Australia and overseas, Rovers can also participate in a multitude of local and regional based camps and activities on a more regular basis.

  h3(class="bold") Meeting Time:

  p Tuesday - 7:45 pm to 10:00 pm plus some weekend activities.

  h3(class="bold") Award Scheme:

  p The highest achievement a Rover Scout can attain is the Baden Powell Award.
  p To see a list of Rover Scouts in 2nd Glen Waverley who have achieved this award, click here.
  h3(class="bold") Thinking about joining?

  p You can always 'come and try' for a few nights to see how much fun it all is!
  p Just contact us for more information.
  h3(class="bold") For further information:

  p For further information on Rovers in Victoria- visit the Victorian Rover website, click here.
  p For futher information on 2nd Glen Waverley Scout Group, click here.

  h3(class="section-title") Scarf
  p The Napier Park / Glen Waverley area around Dandenong Creek Glen Waverley was formerly known as "Black Flats", thus the colour of the Black braiding.
  p The 2nd Glen Waverley (Black Flats) Rover Crew has its own Scarf consisting of a Black material with a braiding with the words "Black Flats" embroidered around the perimeter of the Scarf.
  p The crews colours are black, red and white.
