extends partials/layout.jade

block content
  h2(class="content-title content-title-activities") What we do!

  p Black Flats Rover Crew are an active crew in the rover community!

  p Black Flats meet each Tuesday night at 7.45pm, some weeks we are in our hall, some weeks we get out and about, listed below is just some of the nights which we have run recently:

  div(class="section")
    h3(class="section-title") Weekly Meetings
    div(class="pure-g")
      div(class="pure-u-1 pure-u-md-1-2")
        h4(class="bold") Weekly Activities we have done at our hall:
        ul
          li Business Meetings
          li Campfires
          li Damper Making
          li Flavour Parties
          li Games
          li Movie Nights
          li Progressive Dinner
          li Pyramid night
          li Scavenger Hunts
          li Trivia
          li Valentine’s Day Dinner
          li Painting
      div(class="pure-u-1 pure-u-md-1-2")
        h4(class="bold") Weekly activities we have done outside of our hall:
        ul
          li Bowling
          li Bushwalking
          li Cafes
          li Drive-In-Cinema
          li Food Tasting
          li Gangshow
          li Pub
          li Puffing Billy walk
          li Rollerama
          li The Pool Room
          li TV Show Recordings
          li Visits to other sections
          li Visits to the Beach
          li Whitehorse Showtime
          li Puffing Billy
      div(class="pure-u-1 pure-u-md-1-2")
        h4(class="bold") The crew also conducts and attends activities on other weeknights and weekends, some of these include:
        ul
          li ANZAC Day Dawn Service
          li Australia Day BBQ's
          li Dromana Beach
          li Gilwell Park
          li Heany Park
          li Melbourne Cup Day
          li Mt Dandenong Community Meetings
          li Sailing
          li St Kilda festival
          li Weekends away to the W.F Waters lodge at Mt Baw Baw
          li Fireworks
          li The crew also likes to participate in service activities as well as in major Rover events throughout the year. Check out these pages on our website for examples of what we do.
  div(class="section")
    h3(class="section-title") Major Events
    p Black Flats Rover Crew attends many major Rover events each year, including:
    h4(class="bold") MARB - Metropolitan Area Rover Ball
    p Melbourne Annual Rover Ball or MARB is a great night for Rovers from all around Victoria to meet up and share a meal and dance together.
    p MARB is a themed event and Blackflats Rovers have held many planning nights in the lead up to the evening to organise our dress theme. As a result, the past couple of years have been very successful for the crew, being nominated for the best dressed awards in 2011 and 2012.
    p MARB is also a great opportunity for people interested in events management to contribute to the planning of the Rover Ball as the venue, entertainment and merchandising are all organised by Rovers!

    h4(class="bold") Mudbash
    Another highlight on the Rover Calendar is Mudbash, an annual motor sport event with over 1500 participant and visitor Rover Scouts. The vehicles are all built, repaired, raced and owned by Rover Crews around the country.
    See more about mudbash here.

    h4(class="bold") Surfmoot
    If getting down to the beach, and relaxing, or running mad doing on-site activities floats your board, then Surfmoot is for you. One of Victoria’s longest running Rover events, starting back in 1931, has something for everyone! From swimming at the beach, to jelly wrestling, watermelon footy, a waterslide and who could forget, the surf!
    To get on board click here.

    h4(class="bold") Whitehorse Showtime
    Blackflats Rovers are active supporters of Whitehorse Showtime, one of the largest and most successful Scout Association shows on the face of the planet! Whitehorse Showtime, founded in 1965, is a Scout and Guide Show presented by the Scouts and Guides of the Mt Dandenong Region.
    To get involved or for ticketing information please visit: http://whitehorseshowtime.org
  div(class="section")
    h3(class="section-title") Service
    p The motto of Rovers is #[span(class="bold") SERVICE]
    p Black Flats Rover Crew participate in a variety of service activities including donating blood, assisting other scouting sections, assisting the Scouts Victoria major events team and assisting at Hoadley Hide, Jamborees, Cuborees and Ventures.
    p Black Flats Rover crew also conducts a vast amount of fundraising to support our members and keep the cost of Rovering low.
    p We raise funds to provide for equipment for the crew as well as funds to assist members attend Rover camps and functions. Additional fundraising is done to help Rovers do service, such as fundraising to pay for Jamboree attendance. Our main fundraising initiatives involve selling Christmas trees and conducting sausage sizzles at various retailers.
