extends partials/layout.jade

block content
  h2(class="content-title content-title-bp-award") BP Award
  p The Baden Powell Scout Award is the highest award attainable by Rover Scouts. This award involves challenges to encourage development and growth whilst taking into consideration the Aims of Scouting.
  p Blackflats Rover Crew supports members who decide to undertake the Baden Powell Scout Award.
  p For more information on the Baden Powell Scout Award click here.
  p A list of Black Flats Rover Scouts who recieved the award is below:
  table(class="pure-table bp-award-table")
    thead
      tr
        td Awardee
        td Year
    tbody
      tr
        td G. Timmerman
        td 1974
      tr
        td A. Stansfield
        td 1977
      tr
        td M. Mazur
        td 2005
      tr
        td A. Cornall
        td 2006
