extends partials/layout.jade

block content
  h2(class="content-title content-title-contact") About Us
  div(class="pure-g")
    div(class="pure-u-1 pure-u-md-1-2")
      div(class="content")
        h3(class="section-title") Address
        div(class="pure-g")
          iframe(class="contact-map" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBm61ONNrKz6LJxfLcyE605aibGVtqWLFI&q=2nd+glen+waverley+scout+hall")
          div(class="pure-u-1 pure-u-md-1-2")
            h4(class="bold") Postal Address:
            div Black Flats Rover Crew
            div P.O. Box 998
            div Glen Waverley, Victoria 3150

          div(class="pure-u-1 pure-u-md-1-2")
            h4(class="bold") Hall Address:
            div Napier Park
            div 998 High Street Road,
            div Glen Waverley, Victoria 3150

    div(class="pure-u-1 pure-u-md-1-2")
      div(class="content")
        h3(class="section-title") Contact
        p If you need some more information, feel free to get in touch!

        p For enquries regarding joining our rover crew, or for any other queries you may have, please contact either our crew leader or rover advisor.

        p
          div Crew Leader: Julia Rush
          div Email: contact@blackflatsrovers.com
        p
          div Rover advisor: Geoff Selton
          div Phone: 0433 308 461
          div Email: groupleader@2ndglenwaverley.org
