extends partials/layout.jade

block content
  h2(class="content-title") Welcome to Black Flats Rover Crew's website!

  h3(class="section-title") Who are Black Flats Rover Scouts?

  p Black Flats Rover Crew is a group of adventurous young adults aged between 18 and 26 who enjoy participating in a variety of activities throughout the calendar year.
  Learn more about Black Flats and our history here.

  h3(class="section-title") What do we do?

  p We do all kinds of activities, whatever our members want us to do! Some of these things are at our hall and some are visits to other places. We attend many major Rover events as a crew, and also host our own crew weekends away and camps. Our crew members do service to the wider community as well as to Scouting, and we do lots of fundraising to ensure we can keep up our active program!
  See more about what we do on our activities page.

  h3(class="section-title") Can I join?

  p We encourage people from all backgrounds who are interested in joining to come and spend a few nights getting to know us. All you require is an open mind and an appetite for fun. If this sounds like you, we’d love for you to contacts us!

  h3(class="section-title") Where we are and when we meet!

  p Our weekly meeting is Tuesday evenings from 7:45 pm to 10:00 pm. We also participate in a range of activities on other weeknights as well as weekends.

  h3(class="section-title") Location:
  p We are located at 2nd Glen Waverley Scout Hall in Napier Park, Glen Waverley.
  p Read more about our location and see a map #[a(href="/contact.html") here].
